build --incompatible_enable_cc_toolchain_resolution
build --action_env BAZEL_DO_NOT_DETECT_CPP_TOOLCHAIN=1

build --config=buildbuddy_bes_backend
build --config=buildbuddy_bes_results_url
build --config=buildbuddy_remote_cache
build --config=buildbuddy_experimental_remote_downloader
build --config=buildbuddy_remote_executor

build --modify_execution_info=^(ImageConfig|ImageLayer|JoinLayers|GZIP|GoLink|SHA256)$=+no-remote